# This file stores a series of project values.
# Maintainer. Ra Daesung (daesungra@gmail.com)


VERSION: 0.0.1

VAL:
  naverdev.client.id:  # ClientId
  naverdev.client.secret:  # ClientSecret

API:
  url.naverdev.blog:  # openapi naver blog
  url.naverdev.news:  # openapi naver news
